<style>
    .header {
        background-color: #151515;
        padding: 10px;
        font-size: 18px;
    }

    li {
        justify-content: space-around;
    }

    li > div {
        min-width: 110px;
        text-align: center;
    }
</style>

<h1 class="section-title" style="margin-bottom: 4px;">Мои заявки</h1>

<div class="article">
    <ul class="d-flex flex-column gap12">
        <li class="d-flex justify-content-evenly row header">
            <div>Монета</div>
            <div>Курс</div>
            <div>Сумма</div>
            <div>Кол-во</div>
            <div>Статус</div>
        </li>
    </ul>
</div>