<div class="article bg-black">
    <ul class="d-flex flex-column gap12">
        <li class="d-flex justify-content-evenly">
            <div>Монета</div>
            <div>Сумма</div>
            <div>Получено</div>
        </li>
        <li class="d-flex justify-content-evenly row">
            <div>BTC</div>
            <div>30,000 RUB</div>
            <div>150 RUB</div>
        </li>
        <li class="d-flex justify-content-evenly row">
            <div>BTC</div>
            <div>30,000 RUB</div>
            <div>150 RUB</div>
        </li>
        <li class="d-flex justify-content-evenly row">
            <div>BTC</div>
            <div>30,000 RUB</div>
            <div>150 RUB</div>
        </li>
    </ul>
</div>