<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>JangoExchange</title>
        <link href = "style/header.css" rel = "stylesheet">
        <link href = "style/body.css" rel = "stylesheet">
    </head>
    <body>
        <div class = "header_filler">
            <div class = "logo"><img src="img/Logo.svg" class = "logo"></div>   
            <div class = "header_text">СТАТУС ЗАЯВКИ</div>
            <div class = "header_text">ПРАВИЛА ОБМЕНА</div>
            <div class = "header_text">FAQ</div>
            <div class = "header_text">КОНТАКТЫ</div>
            <div class = "header_text">О НАС</div>
            <div class = "sing_in">ВОЙТИ</div>
            <div class = "registration">РЕГИСТРАЦИЯ</div>
        </div>
        <div class = "course_filler">
            <marquee direction="left" class = "course_text">
                <span class = "course_text_span">1 BTC = 2,555,214 RUB</span>
                <span class = "course_text_span">1 ETH = 174,214 RUB</span>
                <span class = "course_text_span">1 BNB = 25,214 RUB</span>
                <span class = "course_text_span">ЗДЕСЬ МОГЛА БЫТЬ ВАША РЕКЛАМА, ЕСЛИ БЫ НЕ ТЫ !!!!!!</span>
            </marquee>
        </div>
        <div class = "line"></div>
        <div class = "exchanger_bg">
            <div class = "clock_work">Работаем круглосуточно</div>
            <div class = "echanger_filler">
                <div style = "padding-top: 42px; padding-bottom: 23px;">
                    <div class = "exchange_name_get">Отдаете</div>
                    <div class = "arrow"><img src="img/Arrow.svg" height="30px" width="30px"></div>
                    <div class = "exchange_name_set">Получаете</div>
                </div>
                <div class="echanger_line"></div>
                <div style="padding-left: 5%; padding-right: 5%;">
                    <table>
                        <tr>
                            <td>
                                <input class = "exchange_input">
                            </td>
                            <td>
                                Hello
                            </td>
                            <td>
                                <input class = "exchange_input">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class = "exchange_select">
                                    <option>Hello world RUB</option>
                                    <option>Hello world KZT</option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <select class = "exchange_select">
                                    <option>BTC</option>
                                    <option>ETH</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class = "exchange_input">
                            </td>
                            <td></td>
                            <td>
                                <input class = "exchange_input">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class = "exchange_input">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input class = "exchange_input">
                            </td>
                            <td></td>
                            <td>
                                <input class = "exchange_input">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="echanger_line"></div>
            </div>
        </div>
    </body>
</html>