<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Jango Exchange</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="static\img\je_icon.png">
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body style="background-color: gray;">
<header>
    <div class="bg-darker header-panel">
        <div class="d-flex gap24 flex-wrap">
            <a href="/">
                <img src="static/img/logo.svg" alt="JANGO EXCHANGE"/>
            </a>
            <nav class="d-flex align-items-center">
                <ul class="d-flex justify-content-between gap28">
                    <li class="text-nav"><a href="/my-bids">Мои заявки</a></li>
                    <li class="text-nav"><a href="/rules">Правила обмена</a></li>
                    <li class="text-nav"><a href="/faq">FAQ</a></li>
                    <li class="text-nav"><a href="/contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="d-flex justify-content-between align-items-center gap28">
            <div class="text-nav js-modal pointer" data-modal="#modal-login" id="header-link-login"
                 style="display: none">Войти
            </div>
            <div class="text-nav js-modal special-btn" data-modal="#modal-registration" id="header-link-reg"
                 style="display: none">Регистрация
            </div>
            <a class="text-nav" id="header-link-lc" href="/account" style="display: none; text-decoration: none">Личный кабинет</a>
            <div class="text-nav js-modal pointer special-btn" id="header-link-exit" style="display: none">Выход</div>
            <div class="text-nav">RU</div>
        </div>
    </div>
    <marquee class="bg-light d-flex justify-content-start align-items-center ">
        <div class="d-flex gap48">
            <div>Если у вас возникли трудности или вопросы, обращайтесь к нам в Telegram : @Jango_Exchange</div>
        </div>
    </marquee>
</header>
{% block modals %}
{% include "modals.html" %}
{% endblock %}
<main id="main">
    {% block content %}
    {% include "main/main.html" %}
    {% endblock %}
</main>
<footer>
    <div class="d-flex gap28 flex-wrap">
        <div class="d-flex gap24 align-items-center">
            <div>Email : Jango.Exchange@yandex.ru</div>
            <div><a href="https://t.me/Jango_Exchange"><img src="static/img/telegram_logo.png" width="40px" height="40px"></a></div>
        </div>
        <div class="text-center"><img src="static/img/logo.svg"></div>
        <div class="d-flex gap24 align-items-center flex-end">
            <div>© 2023 JangoExchange.cc</div>
        </div>
    </div>
</footer>

<script src="static/js/index.js"></script>
<script type="module" src="static/js/common/modal.js"></script>

</body>
</html>