<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Jango Exchange</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="static\img\je_icon.png">
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> 
    {% block head %}{% endblock %}
</head>

<body style="background-color: gray;">
<header>
    <div class="bg-darker header-panel">
        <div class="d-flex gap24 flex-wrap">
            <a href="/">
                <img src="static/img/logo.svg" alt="JANGO EXCHANGE"/>
            </a>
            <nav class="d-flex align-items-center">
                <ul class="d-flex justify-content-between gap28">
                    <li class="text-nav"><a href="/my-bids">Мои заявки</a></li>
                    <li class="text-nav"><a href="/rules">Правила обмена</a></li>
                    <li class="text-nav"><a href="/faq">FAQ</a></li>
                    <li class="text-nav"><a href="/contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="d-flex justify-content-between align-items-center gap28">
            <div class="text-nav js-modal pointer" data-modal="#modal-login" id="header-link-login"
                 style="display: none">Войти
            </div>
            <div class="text-nav js-modal special-btn" data-modal="#modal-registration" id="header-link-reg"
                 style="display: none">Регистрация
            </div>
            <a class="text-nav" id="header-link-lc" href="/account" style="display: none; text-decoration: none">Личный кабинет</a>
            <div class="text-nav js-modal pointer special-btn" id="header-link-exit" style="display: none">Выход</div>
            <div class="text-nav">RU</div>
        </div>
    </div>
    <marquee class="bg-light d-flex justify-content-start align-items-center ">
        <div class="d-flex gap48">
            <div>Если у вас возникли трудности или вопросы, обращайтесь к нам в Telegram : @Jango_Exchange</div>
        </div>
    </marquee>
</header>
{% block modals %}
{% include "modals.html" %}
{% endblock %}
<main id="main">
    {% block content %}
    {% include "main/main.html" %}
    {% endblock %}
</main>
 
<div class="fabs">
<div class="chat">
    <div class="chat_header">
    <div class="chat_option">
        <div>
            <img src="static/img/operator_image.png"/>
        </div>
        <div style="margin-top: 7px">
            <div>Алексей</div>
            <div>Оператор <span class="online">(Online)</span></div>
        </div>
        <span id="btn-chat-close" class="btn-close-chat">&#10006;</span>
    </div>
    </div>
    <div id="chat_fullscreen" class="chat_conversion chat_converse"></div>
        <div class="fab_field">    
            <a id="fab_send" class="fab">
                <img src="static/img/telegram_logo.png" width="40px" height="40px">
            </a>
            <textarea id="chatSend" name="chat_message" placeholder="Введите текст" class="chat_field"></textarea>
        </div>
    </div>
    <a id="prime" class="fab">
        <img src="static/img/chat.png"/>
    </a>
</div>
    


<footer>
    <div class="d-flex gap28 flex-wrap">
        <div class="d-flex gap24 align-items-center">
            <div>Email : Jango.Exchange@yandex.ru</div>
            <div><a href="https://t.me/Jango_Exchange"><img src="static/img/telegram_logo.png" width="40px" height="40px"></a></div>
            <div><a href="https://kurs.expert" title="Обмен Биткоин, Киви, Яндекс, AdvCash"><img src="https://kurs.expert/i/btn.cb.png" width="100" height="31" border="0"></a></div>
        </div>
        <div class="text-center"><img src="static/img/logo.svg"></div>
        <div class="d-flex gap24 align-items-center flex-end">
            <div>© 2023 JangoExchange.cc</div>
        </div>
    </div>
</footer>

<template id="chat_panel">
    <span class="chat_msg_item chat_msg_item_admin" id = "admin_item">
        <div class="chat_avatar">
            <img src="static/img/operator_image.png"/>
        </div><div id="element_message_admin">Hey there! Any question?</div></span>
    <span class="chat_msg_item chat_msg_item_user" id = "client_item">Where can I get some?</span>
</template>

<script src="static/js/index.js"></script>
<script type="module" src="static/js/common/modal.js"></script>

</body>
</html>