<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>Jango Exchange</title>
    
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="static\img\je_icon.png">
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    </head>
    <body>
        <form>
            <div>Логин : <input id = "login" type="text"></div>
            <div>Пароль : <input id = "password" type="password"></div>
        </form>
        <button id = "submit">Авторизация</button>
        <script type="module" src="static/js/auto.js"></script>
    </body>
</html>