:root {
    --main-bg: #eef5f9;
    --main-color: #09121f;
    --second-color: #344050;
    --form-bg: #f8f9fa;
    --box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    --black30: #303030;
}
