.exchanger_bg{
    background-color: #1e1e1e;
    height: 90%;
}
.clock_work{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.015px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.echanger_filler{
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 40px;
    background-color: #161616;
    height: 85%;
    filter: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.25));
}
.exchange_name_get{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.048px;
    padding-left: 19%;
    padding-right: 11%;
    display: inline;
}
.exchange_name_set{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.048px;
    padding-left: 15%;
    padding-right: 10%;
    display: inline;
}
.echanger_line{
    height: 1px;
    background-color: #ffffff80;
    margin-left: 5%;
    margin-right: 5%;
}
.arrow{
    padding-left: 6%;
    padding-right: 0%;
    display: inline;
}
.exchange_get_pannel{
    display: inline;
    padding-left: 5%;
}
.exchange_input{
    border-radius: 0px;
    border-bottom: 0px;
    background-color: #1e1e1e;
    width: 400px;
    height: 50px;
    filter: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.25));
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03px;
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
}
td{
    padding-top: 30px;
}
.exchange_select{
    background-color: #333;
    filter: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.25));
    border-radius: 0px;
    border-bottom: 0px;
    width: 400px;
    height: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}