<html>
<head>
    <link href="static/css/admin/admin.css" rel="stylesheet" type="text/css">
    <link href="static/css/admin/admin-chat.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
{% block sidebar %}
{% include "admin/sidebar.html" %}
{% endblock %}
<main class="container">
    <h2 style="color: #344050">Чаты</h2>
    <div class="container-inner">
        <aside class="sidebar" id="place_chats">
            <div class="sidebar-header">
                Клиенты
            </div>
            <div class="chat-list" id="element_chats"></div>
        </aside>
        <div class="chat">
            <div class="chat-head" id="message_uuid">Чат не выбран</div>
            <div class="chat-message-list" id="messages">
                <div style="margin-top: 80px; text-align: center">Выберите, кому хотели бы ответить</div>
            </div>
            <div class="chat-footer">
                <input type="text" placeholder="Сообшение" id="text_message">
                <button id="send_message">Отправить</button>
            </div>
        </div>
    </div>
</main>
<template id="chat_panel">
    <div class="chat-item" id="chat_element">
        <div class="chat-item__header" id="uuid_chat">uuid chat : 312312321321312321</div>
        <div class="chat-item__main" id="shortmessage">Hello world!</div>
    </div>
</template>
<script src="static/js/admin_chat.js"></script>
</body>
</html>