<html>
<head>
    <link href="static/css/admin/admin.css" rel="stylesheet" type="text/css">
    <link href="static/css/admin/direction.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
{% block sidebar %}
{% include "admin/sidebar.html" %}
{% endblock %}
<main class="direction">
    <h2 style="color: #344050">Банки</h2>
    <div class="direction-container">
        <div class="direction-list">
            <div class="direction-item direction-item-header">
                <div>Идентификатор</div>
                <div>Название RU</div>
                <div>Название EN</div>
                <div>Номер</div>
                <div>Владелец</div>
            </div>
        </div>
        <div class="direction-list">
            <div class="direction-item">
                <div><input id="bank_ind"/></div>
                <div><input id="bank_ru"/></div>
                <div><input id="bank_en"/></div>
                <div><input id="bank_number"/></div>
                <div><input id="bank_owner"/></div>
                <div>
                    <button class="primary" onclick="createDirection()">Создать</button>
                </div>
            </div>
        </div>
        <div class="direction-list" id="direction-list"></div>
    </div>
</main>
<script src="static/js/admin_direction_bank.js"></script>
</body>
</html>