<div class="article bg-black">
    <ul class="d-flex flex-column gap12">
        <li class="d-flex justify-content-evenly">
            <div>Монета</div>
            <div>Сумма</div>
            <div>Получено</div>
        </li>
        {% for bid in referal_bid %}
        <li class="d-flex justify-content-evenly row">
            <div>{{bid['coin']}}</div>
            <div>{{bid['summ']}} RUB</div>
            <div>{{bid['ref_summ']}} RUB</div>
        </li>
        {% endfor %}
    </ul>
</div>