{% block head %}
<link href="static/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<section class="form-wrapper bg-dark">
    <h2 class="section-title"><img src="static/img/time.png"/>Работаем круглосуточно</h2>
    <form class="form" id="form-send-bid-data">
        <div class="d-flex justify-content-between">
            <div class="form-header-text">Отдаете</div>
            <div class="form-header-text">Получаете</div>
        </div>
        <div class="form-container-data">
            <div class="d-flex justify-content-between gap64">
                <input value="10000" id="setter_value" type="number" step="any">
                <input type="number" id="getter_value" step="any">
            </div>
            <div class="d-flex justify-content-between gap64">
                <select class="select_bank" id="setter"></select>
                <select class="select_bank" id="getter"></select>
            </div>
            <div class="d-flex justify-content-between gap64">
                <div class="d-flex flex-column flex-1 gap28">
                    <input type="text" placeholder="Номер карты*" id="setter_number">
                    <input type="text" placeholder="Telegram*" id="setter_telegram">
                </div>
                <div class="d-flex flex-column flex-1 gap28">
                    <select class="select_bank" id="coin_network">
                        <option selected>Bitcoin(BTC)</option>
                    </select>
                    <input type="email" placeholder="Email*" id="setter_email">
                </div>
            </div>
            <input type="text" placeholder="Bitcoin кошелёк*" id="getter_number">
        </div>

        <div class="d-flex flex-column gap8">
            <div class="d-flex align-items-center justify-content-center gap12">
                <input type="checkbox" id="AML_checkbox">
                <span class="fs-16">Согласен с политикой AML</span>
            </div>
            <div class="text-center fs-14">Нажимая на кнопку "Перейти к оплате", я соглашаюсь с правилами обмена
            </div>
        </div>
        <button class="submit" type="submit">Начать обмен</button>
        <div>
            <img src="static/img/status-network.png" alt="|||"/>
            <span class="fs-16">Текущая загруженность сети Bitcoin*</span>
        </div>
    </form>
</section>
<section class="reviews-wrapper bg-light text-center">
    <h1 class="fs-36 fw-700">Отзывы:</h1>
    <div class="reviews-box">
        <div class="reviews-item">
            <div class="reviews-item__header">Виктория</div>
            <div class="reviews-item__comment">Всё как всегда быстро и оперативно. Я уже несколько раз переводил
                через обменник. Огромное спастбо за оперативность. Всем рекомендую.5+++++.
            </div>
            <div class="reviews-item__date">2023-07-10 17:34:25</div>
        </div>
        <div class="reviews-item">
            <div>
                <div class="reviews-item__header">Александр</div>
                <div class="reviews-item__comment">Отличный сервис! Всё быстро!</div>
            </div>
            <div class="reviews-item__date">2023-07-10 17:32:59</div>
        </div>
    </div>
    <a  href="/reviews"><button class="reviews-btn" href=>Отзывы</button></a>
</section>

<section class="reviews_wrapper_partner bg-dark text-center">
    <div class="partner_box">
        <div><a href="https://kurs.expert" title="Обмен Биткоин, Киви, Яндекс, AdvCash">
            <img src="https://kurs.expert/i/btn.cb.png" width="100" height="31" border="0"></a></div>
        <div><a href="https://bits.media/obmenniki/jango-exchange" title="Обмен Биткоин, Киви, Яндекс, AdvCash">
            <img src="https://bits.media/local/templates/bits.media/images/bits4.png" width="140" height="31" border="0"></a></div>
        <div><a target="_blank" href="https://www.okchanger.ru/?a=231225">
            <img src="https://www.okchanger.ru/images/banners/90x32-tr.png" /></a></div>
        <div><a href="https://bestexchangers.ru/" target="_blank" title="Мониторинг обменников BestExchangers.ru">
            <img src="https://bestexchangers.ru/images/88x31.gif" border="0" alt="BestExchangers.ru"></a></div>
    </div>
</section>
<script type="module" src="static/js/common/select.js"></script>
<script type="module" src="static/js/main.js"></script>

{% endblock %}