:root {
    color-scheme: dark;
    --main-bg: #242424;
    --main-bg-dark: #191919;
    --main-bg-light: #333333;
    --form-bg: #1E1E1E;
    --yellow: #F59D19;
    --green: #2E9D24;
    --black30: #303030;
}
